@page "/About"

<h3>About</h3>

<p>This is the code for a basic game of BlackJack, in Blazor Server.</p>
<p>I built this as a prototype for a Tavern Game within Raid on the Forest of Horrors.</p>
<p>You can play the expanded version (With Splits, DoubleDowns, Surrenders, and Insurance) at <a href="https://MessageBase.net/ROTFOH/" target="_blank">https://MessageBase.net/ROTFOH/</a></p>
<p>Card Images from <a href="https://commons.wikimedia.org/wiki/Category:SVG_playing_cards" target="_blank">https://commons.wikimedia.org/wiki/Category:SVG_playing_cards</a></p>
<p>Ben Kimball - 20230506</p>
